/* Default CSS Stylesheet for a new Web Application project */
html, body, form 
{
    font-family:Tahoma;
  height: 100%;
  margin: 0 0 0 0;
  }
BODY, SPAN, INPUT, TEXTAREA, SELECT, INPUT{ 
	font-size: 11px;
	font-family:tahoma;
	/*color:#3C3B3B;*/
}
A{
	font-size: 11px;}
/* Navigation */
#navigation {
	FONT-SIZE: 11px; LEFT: 1em; WIDTH: 14em; POSITION: absolute; TOP: 5em
}
#navigation UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#navigation LI {
	BORDER-BOTTOM: #000033 1px solid
}
#navigation LI A{
	border-right: 1px solid #CCCCCC;
	padding-right: 5px;
	display: block;
	padding-left: 0.5em;
	padding-bottom: 5px;
	border-left: 12px solid #CCCCCC;
	color: #FFFFFF;
	padding-top: 5px;
	background-color: #000033;
	text-decoration: none;
	font-style: normal;
	font-weight: bold;
	FONT-SIZE: xx-small;}
#navigation LI A:hover{
	color: #ffffff;
	background-color: navy;}
#navigation UL UL 
{    
	MARGIN-LEFT: 12px}
#navigation UL UL LI {
	MARGIN: 0px; COLOR: #000000; BORDER-BOTTOM: #711515 1px solid; BACKGROUND-COLOR: #FFFFFF}
#navigation UL UL A:link {
	COLOR: #000033; BACKGROUND-COLOR: #FFFFFF}
#navigation UL UL A:visited {
	COLOR: #000033; BACKGROUND-COLOR: #FFFFFF}
#navigation UL UL A:hover {
	COLOR: #000000; BACKGROUND-COLOR: #CCCCCC}
.ErrorMessage{
	color: red;}
.TopNavigationLink {
	font-size: 10pt;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;}
 .TopNavigationLink A:link {
	MARGIN-TOP: 4px; 
	FONT-WEIGHT: normal; 
	text-decoration: none;
	FONT-SIZE: 12px; 
	font-weight: bold;
	MARGIN-BOTTOM: 4px; 
	COLOR: #ffffff; }
.TopNavigationLink A:hover {
	COLOR: #ffffff; 
	font-weight: bold;
	text-decoration: none;}
.TopNavigationLink A:active {
	COLOR: #ffffff; 
	font-weight: bold;
	text-decoration: none;}
.TopNavigationLink A:visited {
	COLOR: #ffffff; 
	text-decoration: none;
	FONT-SIZE: 12px; }
.reqasterisk {
	FONT-SIZE: 12px; VERTICAL-ALIGN: -2px; COLOR: red}
.ParentTaskStyle{
	font-weight: bold;
	text-decoration: underline;}
#member  {
	width:225px;
	float:right;}
table.member td.heading{
	background: black;
	color: white;
	font-size:12px;
	text-align:left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: solid 1px #7f7f7f;}
table.member td{
	padding:0 4 0 4;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	vertical-align:middle;}
table.member td.withline{
	padding: 0 4 0 4;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	vertical-align: middle;}
table.member td.withrightline{
	padding: 0 4 0 4;
	border-top: black 1px solid;
	border-right: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	vertical-align: middle;}
table.member{
	background: #EBF4FA;
	color: black;
	font-weight: bold;}
table.member label{
	font: bold 11px/22px "Trebuchet MS" , Arial, Helvetica, sans-serif;
	float: left;
	display: block;}
table.member input.txtBox{
	width:330px;
	height:19px;
	color:#000;
	background-color:#fff;
	margin:0;
	padding:0;
	float:left;}
table.member a{
	text-decoration:underline;
	text-align:center;
	color:Red;}
table.member input.go{
	width:66px;
	cursor:pointer;
	height:px;}
.xGridView
{
    font-size:11px;
width: 100%;
	border: 1px solid #cccccc;
	border-top: 0;
	margin: 0 5px;}
.xGridView th a	
{
    color:#3C3B3B;
	font-weight: bold;
	text-decoration: none;
	text-align:center;}
.xGridView th {
	text-align:center;
	vertical-align:bottom;}
.xGridView caption 
{
    color: white;
	background: #00438d url(img/old-browsers/colors/bg_button-icon.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#006aac), to(#00438d));
	background: -webkit-linear-gradient(top, #006aac, #00438d);
	background: -moz-linear-gradient(top, #006aac, #00438d);
	background: -ms-linear-gradient(top, #006aac, #00438d);
	background: -o-linear-gradient(top, #006aac, #00438d);
	background: linear-gradient(top, #006aac, #00438d);
	border-color: #004795;
	border-radius: 6px 6px 0 0;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	margin: 0;
	padding: 11px 16px;
	font-size:13px;
	text-align:left;}
.xGridView td.caption {
	font-weight: bold;
	color: white;
	font-size:12px;
	text-align:left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: solid 1px #7f7f7f;}
.xGridViewInside
{
    font-size:11px;
    width: 100%;
	border: 1px solid #cccccc;
	border-top: 0;
	margin: 0 5px;}
.xGridViewInside th a	
{
    color:#3C3B3B;
	font-weight: bold;
	text-decoration: none;
	text-align:center;}
.xGridViewInside th {
	text-align:center;
	vertical-align:bottom;}
.xGridViewInside caption 
{
    color: white;
	background: #00438d url(img/old-browsers/colors/bg_button-icon.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#006aac), to(#00438d));
	background: -webkit-linear-gradient(top, #006aac, #00438d);
	background: -moz-linear-gradient(top, #006aac, #00438d);
	background: -ms-linear-gradient(top, #006aac, #00438d);
	background: -o-linear-gradient(top, #006aac, #00438d);
	background: linear-gradient(top, #006aac, #00438d);
	border-color: #004795;
	border-radius: 6px 6px 0 0;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	margin: 0;
	padding: 6px 16px;
	font-size:13px;
	text-align:left;}
.xGridViewInside td.caption {
	font-weight: bold;
	color: white;
	font-size:12px;
	text-align:left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: solid 1px #7f7f7f;}	
.xGridViewInside td 
{        
		padding: 5px 2px;
		color:#3C3B3B;
		/*padding: 9px 10px;*/
		vertical-align:middle;
		border-top: 1px solid #e6e6e6;
		border-left: 1px dotted #cfcfcf;}
.xGridViewInside td.labeltext{
	text-align: right;}
.xGridViewInside th
{
    color:#3C3B3B;
	background: #d6dadf url(../img/old-browsers/colors/bg_button.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#efeff4), to(#d6dadf));
	background: -webkit-linear-gradient(top, #efeff4, #d6dadf);
	background: -moz-linear-gradient(top, #efeff4, #d6dadf);
	background: -ms-linear-gradient(top, #efeff4, #d6dadf);
	background: -o-linear-gradient(top, #efeff4, #d6dadf);
	background: linear-gradient(top, #efeff4, #d6dadf);
	border-color: #cccccc;
		padding: 1px;
		border: 1px solid #cccccc;
		-webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		-moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		border-top: 0;
		line-height:15px;}
.xGridViewInside td.FormViewSubHeader{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	background: #efeff1;
	padding-bottom: 0px;
	padding-top: 3px;
	height: 24px;
	font-size:14px;
	border-top: solid 5px #BBD9EE;
	border-bottom: solid 5px #BBD9EE;}
.xGridViewInside th input{
    width:99%;}
.xGridViewInside select[disabled]{
  color:black;
  background-color:Transparent;}
.xGridViewInside input[disabled]{
  color:black;
  background-color:Transparent;}	
.xGridViewTS{
width: 100%;
	border: 1px solid #cccccc;
	border-top: 0;
	position:relative;}
.xGridViewTS th a{
	color:#3C3B3B;
	font-weight: bold;
	text-decoration: none;
	text-align:center;}
.xGridViewTS th {
	text-align:center;
	vertical-align:bottom;
	}
.xGridViewTS caption 
{
    color: white;
	background: #00438d url(img/old-browsers/colors/bg_button-icon.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius: 10px 10px 0 0;
	/*-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);*/
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#006aac), to(#00438d));
	background: -webkit-linear-gradient(top, #006aac, #00438d);
	background: -moz-linear-gradient(top, #006aac, #00438d);
	background: -ms-linear-gradient(top, #006aac, #00438d);
	background: -o-linear-gradient(top, #006aac, #00438d);
	background: linear-gradient(top, #006aac, #00438d);
	border-color: #004795;
	border-radius: 6px 6px 0 0;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	margin: 0;
	padding: 11px 16px;
	font-size:13px;
	text-align:left;}
.xGridViewTS td.caption {
	font-weight: bold;
	color: white;
	font-size:12px;
	text-align:left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: solid 1px #7f7f7f;}	
.intab  
{
    padding: 0 0 0 0;
	border:  0px ;
	text-align:center;}
.intab  td  
{
    padding: 0 0 0 0;
    text-align:center;
    vertical-align:middle;
	border: 0px;}
.intab tr  
{
    padding: 0 0 0 0;
	border: 0px;}
.altrow{
	background: #EDEDED;}
.row{
    background-color: #fff;}
    .row:hover{
    background: #EDEDED;}
.xGridView td 
{        
		padding: 5px 2px 5px 2px;
		color:#3C3B3B;
		/*padding: 9px 10px;*/
		vertical-align:middle;
		border-top: 1px solid #e6e6e6;
		border-left: 1px dotted #cfcfcf;}
.xGridView td.labeltext{
	text-align: right;}
.xGridView th
{
    color:#3C3B3B;
	background: #d6dadf url(../img/old-browsers/colors/bg_button.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#efeff4), to(#d6dadf));
	background: -webkit-linear-gradient(top, #efeff4, #d6dadf);
	background: -moz-linear-gradient(top, #efeff4, #d6dadf);
	background: -ms-linear-gradient(top, #efeff4, #d6dadf);
	background: -o-linear-gradient(top, #efeff4, #d6dadf);
	background: linear-gradient(top, #efeff4, #d6dadf);
	border-color: #cccccc;
		padding: 5px 5px 5px 5px;
		border: 1px solid #cccccc;
		/*-webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		-moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);*/
		border-top: 0;}
.xGridView td.FormViewSubHeader{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	background: #efeff1;
	padding-bottom: 0px;
	padding-top: 3px;
	height: 24px;
	font-size:14px;
	border-top: solid 5px #BBD9EE;
	border-bottom: solid 5px #BBD9EE;}
.xGridView th input{
    width:99%;}
.xGridView select[disabled]{
  color:black;
  background-color:Transparent;}
.xGridView input[disabled]{
  color:black;
  background-color:Transparent;}
.xGridViewTS td 
{        
		padding: 3px 2px 3px 2px;
		color:#3C3B3B;
		/*padding: 9px 10px;*/
		vertical-align:middle;
		border-top: 1px solid #e6e6e6;
		border-left: 1px dotted #cfcfcf;
		}
.xGridViewTS td.labeltext{
	text-align: right;}
.xGridViewTS th
{
    	color:#3C3B3B;
	background: #d6dadf url(../img/old-browsers/colors/bg_button.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#efeff4), to(#d6dadf));
	background: -webkit-linear-gradient(top, #efeff4, #d6dadf);
	background: -moz-linear-gradient(top, #efeff4, #d6dadf);
	background: -ms-linear-gradient(top, #efeff4, #d6dadf);
	background: -o-linear-gradient(top, #efeff4, #d6dadf);
	background: linear-gradient(top, #efeff4, #d6dadf);
	border-color: #cccccc;
		padding: 5px 0px 5px 0px;
		border: 1px solid #cccccc;
		-webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		-moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		border-top: 0;
		font-size:11px;}
.xGridViewTS td.FormViewSubHeader{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	background: #efeff1;
	padding-bottom: 0px;
	padding-top: 3px;
	height: 24px;
	font-size:14px;
	border-top: solid 5px #BBD9EE;
	border-bottom: solid 5px #BBD9EE;}
.xGridViewTS th input{
    width:99%;}
.xGridViewTS select[disabled]{
  color:black;
  background-color:Transparent;}
.xGridViewTS input[disabled]{
  color:black;
  background-color:Transparent;}
.edit_button a {
	display: block;
	overflow: hidden;    
	background:  url('images/edit.gif') top center no-repeat;    
	width: 15px;    
	height:14px;
	text-decoration: none;}
.edit_button{
	vertical-align:middle;
	text-indent: -1000px;	
}
.delete_button a {
	display: block;
	overflow: hidden;    
	background:  url('images/delete.gif') top center no-repeat;    
	width: 15px;    
	height:14px;
	text-decoration: none;}
.delete_button{
	vertical-align:middle;
	text-indent: -1000px;}
.status_button{
	vertical-align:middle;
	text-align:center;}
.xFormView, xFormViewWithoutBorder{
	font-size: 11px;    
    border:2px Solid White;
    }
.xFormView table
{    
    padding:0 0 0 0;
	line-height: 30px;
	font-weight:bold;    
    border-right:1px Solid #d6dadf;
    border-left:1px Solid #d6dadf;
    border-bottom:1px Solid #d6dadf;
    }	
.xFormView th.caption, .xFormViewWithoutBorder th.caption {
    color: white;
	background: #00438d url(img/old-browsers/colors/bg_button-icon.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#006aac), to(#00438d));
	background: -webkit-linear-gradient(top, #006aac, #00438d);
	background: -moz-linear-gradient(top, #006aac, #00438d);
	background: -ms-linear-gradient(top, #006aac, #00438d);
	background: -o-linear-gradient(top, #006aac, #00438d);
	background: linear-gradient(top, #006aac, #00438d);
	border-color: #004795;
	border-radius: 6px 6px 0 0;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	margin: 0;
	padding: 5px 16px;
	font-size:13px;
	font-weight:lighter;
	text-align:left;}
.xFormView th.captionLogin, .xFormViewWithoutBorder th.captionLogin {
    color: white;
	background: #00438d url(img/old-browsers/colors/bg_button-icon.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#006aac), to(#00438d));
	background: -webkit-linear-gradient(top, #006aac, #00438d);
	background: -moz-linear-gradient(top, #006aac, #00438d);
	background: -ms-linear-gradient(top, #006aac, #00438d);
	background: -o-linear-gradient(top, #006aac, #00438d);
	background: linear-gradient(top, #006aac, #00438d);
	border-color: #004795;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	margin: 0;
	padding: 9px 16px;
	font-size:medium;
	font-weight:lighter;
	text-align:left;}
.xFormView td 
{		
 	padding:1px 1px 1px 1px;
 	vertical-align:middle;
}
.xFormViewWithoutBorder td {
	color:#333333;
    padding: 1px 1px 1px 1px;
    height:8px;
	font-size:12px;}
.xFormViewWithoutBorder a {
	color:#333333;
    padding: 1px 1px 1px 1px;
    height:8px;
    font-size:12px;
    font-weight:bold;}
.xFormView td.FormViewLabelCell, .xFormViewWithoutBorder td.FormViewLabelCell
{
    color:#666666;    
	text-align:right;
	font-size:11px;}
.xFormView td.FormViewLabelCellCustomField, .xFormViewWithoutBorder td.FormViewLabelCellCustomField
{
    color:#666666;    
	text-align:left;
	font-size:11px;}
.xFormView td.FormViewLabelCellWithBorder, .xFormViewWithoutBorder td.FormViewLabelCellWithBorder{
	text-align:right;
	border-right: solid 1px #BBD9EE;
	font-weight:bold;
	height:22px;}
.xFormView td.FormViewLabelCellBold, td.FormViewLabelCellBold, .xFormViewWithoutBorder td.FormViewLabelCellBold, td.FormViewLabelCellBold{
	text-align:right;
	font-weight:bold;}
.xFormView th.FormViewSubHeader, .xFormViewWithoutBorder th.FormViewSubHeader{
    padding: 3px 3px 3px 18px;               
    background-repeat: no-repeat;
    background-position: left center;    
    border: 0px Solid White;
    color: #555555;
    background-color: #efeff1;
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;    
    margin-top: 5px;
    cursor: pointer;
    text-align:left;}
.xFormView td.HighlightedText, .xFormViewWithoutBorder td.HighlightedText{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	background: #efeff1;
	padding-bottom: 0px;
	padding-top: 3px;
	height: 24px;
	font-size:11px;
	border-top: solid 1px #BBD9EE;
	border-bottom: solid 1px #BBD9EE;}
.xFormView td.HighlightedTextMedium, .xFormViewWithoutBorderMedium td.HighlightedTextMedium{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	background: #efeff1;
	padding-bottom: 0px;
	padding-top: 0px;
	height: 24px;
	font-size:11px;
	vertical-align:middle;
	border-top: solid 1px #BBD9EE;
	border-bottom: solid 1px #BBD9EE;}
.xFormView td.HighlightedTextLarge, .xFormViewWithoutBorderLarge td.HighlightedTextLarge{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	background: #efeff1;
	padding-bottom: 0px;
	padding-top: 3px;
	height: 24px;
	font-size:14px;
	border-top: solid 1px #BBD9EE;
	border-bottom: solid 1px #BBD9EE;
	height: 30px;}
.tmtb{
	border:none;
    width:100%;}
.tmtb td{
	border:none;
	height: 6px;}
.xTableWithoutBorder{
	border:none;
    color: #333333;
    width:100%;}
.xTableWithoutBorder td{
	color: #333333;
	border-bottom: medium none;
	height: 6px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	padding:1px 1px 1px 1px;}
.BlockTable {
	BORDER-RIGHT: #c5d0de 1px solid; BORDER-TOP: #c5d0de 1px solid; BORDER-LEFT: #c5d0de 1px solid;  BORDER-BOTTOM: #c5d0de 1px solid; 
	BACKGROUND-COLOR: #eff3f6;
	font-size: 11px;
	color: #505050;
}
TD.block {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px ;
	font-size: 11px;
	color: #505050;
}
.collapsePanel{
	position: absolute;
	height: 400px;
	width: 0px;
	overflow: hidden;
	background-color: transparent;
	float: left;}
.collapsePanelHeader {
	position: absolute;
    width: 25px;
    height: 50px;
    cursor: pointer;
    float: left;}
.Splitter{
	border: 0px solid #333333;}
.SplitterDrag{
	background-color: #000000;  
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); 
	opacity: 0.6;}
.SplitterHover{
	background-color: #888888;  
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); 
	opacity: 0.6;}
.SplitterCollapsedHorizontal{
	border: 0px solid #000000;
	border-bottom-width: 0px;}
.SplitterCollapsedVertical{
	border: 0px solid #000000;
	border-right-width: 0px;}
.PanelStyle1{
	width:100%;
	height:100%;}
.PanelStyle2{
	width:100%;
	height:100%;}
.PanelStyle3{
	text-align:center;width:100%;height:100%;
	filter:progid:DXImageTransform.Microsoft.Gradient
	(GradientType=0, StartColorStr='#0099FF33', EndColorStr='#50000000')}
.innerPopup, .IP
{
    border-top: #505050 0px solid;
	border-bottom: #505050 0px solid;
	border-right: #505050 0px solid;
	border-left: #505050 0px solid;
	background-color: #efeff1 ;
	font-size: 11px;
	color: #000000;
	text-align: left;
	font-weight: bold;
	padding-top: 2.5px;
	padding-bottom: 5px;
	padding-left: 5px;
	width:220px;
	position:relative;
}
.PL 
{
    font-weight: bold;
	font-size: 11px;
	text-align: left;
	color: black;
	width: 200px;
	display:inline-block;
	width:200px;
	}
.pt{
	height:60px;
	width:200px;
	}
.lighttable{
	border-right: #cbcbcb 1px solid;
	border-top: #cbcbcb 1px solid;
	border-left: #cbcbcb 1px solid;
	border-bottom: #cbcbcb 1px solid;}
table.full-height {
  height:100%;
  width:100%;
  border:1px solid black;}
.bolda{
	color: #333333;
	font-weight: bold;
	text-align:center;
	text-decoration:underline;}
input.hiddenButton {
	font-size: 1em;
	color: transparent; /* Fix for Firefox */
	border-style: none;
	border-width: 0;padding: 0 0 0 16px !important; /* Fix for Internet Explorer */     
	text-align: left;
	width: 16px;height: 16px;
	line-height: 1 !important;
	background: transparent url(../images/button.gif) no-repeat scroll 0 0;
	overflow: hidden;cursor: pointer;}
.textboxstyle1{	display: inline-block;
background: #E6E6E6 url(../img/old-browsers/colors/bg_input.png) repeat-x;
-webkit-background-size: 100% 100%;
-moz-background-size: 100% 100%;
-o-background-size: 100% 100%;
background-size: 100% 100%;
background: -webkit-gradient(linear, left top, left bottom, from(white), to(#E6E6E6));
background: -webkit-linear-gradient(top, white, #E6E6E6);
background: -moz-linear-gradient(top, white, #E6E6E6);
background: -ms-linear-gradient(top, white, #E6E6E6);
background: -o-linear-gradient(top, white, #E6E6E6);
background: linear-gradient(top, white, #E6E6E6);
border-color: #CCC;
color: #666;
	display: inline-block;
	text-align: left;
		padding-top: 7px;
		padding-bottom: 7px;
		line-height: 16px;
	border: 0;
	vertical-align: baseline;
	-webkit-background-clip: padding-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: -webkit-box-shadow 400ms;
	-moz-transition: -moz-box-shadow 400ms;
	-ms-transition: box-shadow 400ms;
	-o-transition: box-shadow 400ms;
	transition: box-shadow 400ms;
	-webkit-box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
	-moz-box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
	box-shadow: inset 0 0 0 1px rgba(51, 153, 255, 0), inset 0 2px 5px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 0 rgba(51, 153, 255, 0);
}
.labelstyle123{	display: block;
	margin-bottom: 3px;
	font-weight: bold;
	line-height: 16px;}
.selectdrop
	{
background-color: #FCFCFC;
border: 1.5px solid #D1D1D1;
padding: 2px;
outline: 0;
margin: 0;
color: #444;
font-size: 11px;
-webkit-border-radius: 3px;
-o-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-sizing: border-box;
-o-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 1),inset 0 1px 1px rgba(0, 0, 0, 0.04);
-moz-box-shadow: 0 1px 0 rgba(255,255,255,1),inset 0 1px 1px rgba(0,0,0,0.04);
-o-box-shadow: 0 1px 0 rgba(255,255,255,1),inset 0 1px 1px rgba(0,0,0,0.04);
box-shadow: 0 1px 0 rgba(255, 255, 255, 1),inset 0 1px 1px rgba(0, 0, 0, 0.04);
-webkit-transition: background 150ms linear;
-moz-transition: background 150ms linear;
-ms-transition: background 150ms linear;
-o-transition: background 150ms linear;
transition: background 150ms linear;
font-family:Tahoma;
color:#3C3B3B;
}
.textboxnew{
border-radius: 3px;
border: 1.5px solid #C9C9C9;
color: #404040;
font-size: 11px;
height: 20px;
padding:0px 5px 0px 5px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
font-family:Tahoma;
color:#3C3B3B;
}

/*.textboxnew:focus { border: 1px solid green; }*/
#myChecks label{border:5 solid black}
.xStatusLegend{
	font-size: 11px;    
    border:2px Solid White;
    }
.xStatusLegend table
{    
    padding:0 0 0 0;
	line-height: 20px;
	font-weight:bold;    
    border:1px Solid #d6dadf;
    }	
.xStatusLegend td 
{		
 	padding:1px 1px 1px 1px;
 	vertical-align:middle;
}
.xStatusLegend td.FormViewLabelCell{
	text-align:right;}
.xStatusLegend th.FormViewSubHeader{
    	color: #666666;
	background: #d6dadf url(../img/old-browsers/colors/bg_button.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#efeff4), to(#d6dadf));
	background: -webkit-linear-gradient(top, #efeff4, #d6dadf);
	background: -moz-linear-gradient(top, #efeff4, #d6dadf);
	background: -ms-linear-gradient(top, #efeff4, #d6dadf);
	background: -o-linear-gradient(top, #efeff4, #d6dadf);
	background: linear-gradient(top, #efeff4, #d6dadf);
	border-color: #cccccc;
		padding: 3px 16px;
		border: 1px solid #cccccc;
		-webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		-moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		border-top: 0;
		text-align:left;
		font-size:13px;
		font-weight:bold;}
.xAdminOption{
	font-size: 11px;    
    border:2px Solid White;    
    }
.xAdminOption table
{    
    padding:0 0 0 0;
	font-weight:bold;    	
    border-right:1px Solid #d6dadf;
    border-left:1px Solid #d6dadf;
    border-bottom:1px Solid #d6dadf;
    }	
.xAdminOption th.caption{
    color: white;
	background: #00438d url(img/old-browsers/colors/bg_button-icon.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#006aac), to(#00438d));
	background: -webkit-linear-gradient(top, #006aac, #00438d);
	background: -moz-linear-gradient(top, #006aac, #00438d);
	background: -ms-linear-gradient(top, #006aac, #00438d);
	background: -o-linear-gradient(top, #006aac, #00438d);
	background: linear-gradient(top, #006aac, #00438d);
	border-color: #004795;
	border-radius: 6px 6px 0 0;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	margin: 0;
	padding: 5px 11px;
	font-size:13px;
	font-weight:normal;
	text-align:left;
	height:30px;
	vertical-align:middle;}
.xAdminOption td 
{		
 	padding:9px 0px 0 0;
 	vertical-align:top;
}
.xAdminOption td.FormViewLabelCell{
	text-align:right;}
.xAdminOption th.FormViewSubHeader{
    	color: #3C3B3B;
	background: #d6dadf url(../img/old-browsers/colors/bg_button.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#efeff4), to(#d6dadf));
	background: -webkit-linear-gradient(top, #efeff4, #d6dadf);
	background: -moz-linear-gradient(top, #efeff4, #d6dadf);
	background: -ms-linear-gradient(top, #efeff4, #d6dadf);
	background: -o-linear-gradient(top, #efeff4, #d6dadf);
	background: linear-gradient(top, #efeff4, #d6dadf);
	border-color: #cccccc;
		padding: 3px 9px 3px 9px;
		border: 1px solid #cccccc;
		-webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		-moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		text-align:left;
		font-size:11px;
		font-weight:bold;
		vertical-align:middle;}
		.readonlycss
		{
		    pointer-events: none;
            cursor: default;
		    }
		    .statuslabel
		    {
		        vertical-align:middle;}
		        .textheight1
		        {
		            height:2px;}

        .MyTabStyle .ajax__tab_header
        {
            font-family: tahoma;
            font-size: 11px;
            font-weight:bold;
            display: block;

        }
        .MyTabStyle .ajax__tab_header .ajax__tab_outer
        {
            border-color: #222;
            color: #222;
            padding-left: 10px;
            margin-right: 3px;
            border:solid 1px #d7d7d7;
        }
        .MyTabStyle .ajax__tab_header .ajax__tab_inner
        {
            border-color: #666;
            color: #666;
            padding: 3px 10px 2px 0px;
        }
        .MyTabStyle .ajax__tab_hover .ajax__tab_outer
        {
            background-color:#0a5db8;
        }
        .MyTabStyle .ajax__tab_hover .ajax__tab_inner
        {
            color: #fff;
        }
        .MyTabStyle .ajax__tab_active .ajax__tab_outer
        {
            border-bottom-color: #ffffff;
            background-color: #0a5db8;            
        }
        .MyTabStyle .ajax__tab_active .ajax__tab_inner
        {
            color: White;
            border-color: #333;
        }
        .MyTabStyle .ajax__tab_body
        {
            font-family:tahoma;
            font-size: 11px;
            background-color: #fff;
            border-top-width: 0;
            border:0px Solid White;
            border-top-color: #ffffff;
        }

.accordionHeader 
{
    padding: 3px 3px 3px 18px;           
    background-image: url('images/arrow-expand.png');
    background-repeat: no-repeat;
    background-position: left center;    
    border: 0px Solid White;
    color: white;
    background-color: #efeff1;
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;    
    margin-top: 5px;
    cursor: pointer;    
}
 
#master_content .accordionHeader a {
    color: #efeff1;
    background: none;
    text-decoration: none;
}
 
    #master_content .accordionHeader a:hover {
        background: none;
        text-decoration: underline;
    }
 
.accordionHeaderSelected 
{
    padding: 3px 3px 3px 18px;           
    background-image: url('images/arrow-collapse.png');
    background-repeat: no-repeat;
    background-position: left center;  
    border: 0px Solid White;
    color: white;
    background-color: #efeff1;
    font-family: tahoma;
    font-size: 11px;
    font-weight: bold;    
    margin-top: 5px;
    cursor: pointer;
}
 
#master_content .accordionHeaderSelected a {
    color: #efeff1;
    background: none;
    text-decoration: none;
}
 
    #master_content .accordionHeaderSelected a:hover {
        background: none;
        text-decoration: underline;
    }
 
.accordionContent {
    background-color: Transparent;
    border: 0px dashed #2F4F4F;
    border-top: none;
    padding: 5px;
    padding-top: 10px;
} 
.accordionLink {
    color:#555555;
    font-size:11px;
    font-weight:bold;
    list-style-position:inside;
    list-style-type:square;
    list-style-image:url(images/collapse.jpg);
} 
 #overlay {
            position: fixed;
            z-index: 99;
            top: 0px;
            left: 0px;
            background-color: #FFFFFF;
            width: 100%;
            height: 100%;
            filter: Alpha(Opacity=80);
            opacity: 0.80;
            -moz-opacity: 0.80;
        }
            

        #theprogress {
                background-color: Transparent;
                width: 110px;
                height: 24px;
                text-align: center;
            filter: Alpha(Opacity=100);
            opacity: 1;
            -moz-opacity: 1;
        }
        #modalprogress {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -11px 0 0 -55px;
            color: white;
        }
        body>#modalprogress {
                position:fixed;
        }
.xGridViewDB
{
    font-size:11px;
    width: 100%;
	border: 1px solid #cccccc;
	border-top: 0;
	margin: 0 5px;}
.xGridViewDB th a	
{
    color:#3C3B3B;
	font-weight: bold;
	text-decoration: none;
	text-align:center;}
.xGridViewDB th {
	text-align:center;
	vertical-align:bottom;}
.xGridViewDB caption 
{
    color: white;
	background: #00438d url(img/old-browsers/colors/bg_button-icon.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#006aac), to(#00438d));
	background: -webkit-linear-gradient(top, #006aac, #00438d);
	background: -moz-linear-gradient(top, #006aac, #00438d);
	background: -ms-linear-gradient(top, #006aac, #00438d);
	background: -o-linear-gradient(top, #006aac, #00438d);
	background: linear-gradient(top, #006aac, #00438d);
	border-color: #004795;
	border-radius: 6px 6px 0 0;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
	margin: 0;
	padding: 11px 16px;
	font-size:13px;
	text-align:left;}
.xGridViewDB td.caption {
	font-weight: bold;
	color: white;
	font-size:12px;
	text-align:left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: solid 1px #7f7f7f;}
.xGridViewDB td 
{        
		padding: 2.5px 2px 2.5px 2px;
		color:#3C3B3B;
		/*padding: 9px 10px;*/
		vertical-align:middle;
		border-top: 1px solid #e6e6e6;
		border-left: 1px dotted #cfcfcf;}
.xGridViewDB td.labeltext{
	text-align: right;}
.xGridViewDB th
{
    color:#3C3B3B;
	background: #d6dadf url(../img/old-browsers/colors/bg_button.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#efeff4), to(#d6dadf));
	background: -webkit-linear-gradient(top, #efeff4, #d6dadf);
	background: -moz-linear-gradient(top, #efeff4, #d6dadf);
	background: -ms-linear-gradient(top, #efeff4, #d6dadf);
	background: -o-linear-gradient(top, #efeff4, #d6dadf);
	background: linear-gradient(top, #efeff4, #d6dadf);
	border-color: #cccccc;
		padding: 5px 5px 5px 5px;
		border: 1px solid #cccccc;
		-webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		-moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		border-top: 0;}
.xGridViewDB td.FormViewSubHeader{
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	background: #efeff1;
	padding-bottom: 0px;
	padding-top: 3px;
	height: 24px;
	font-size:14px;
	border-top: solid 5px #BBD9EE;
	border-bottom: solid 5px #BBD9EE;}
.xGridViewDB th input{
    width:99%;}
.xGridViewDB select[disabled]{
  color:black;
  background-color:Transparent;}
.xGridViewDB input[disabled]{
  color:black;
  background-color:Transparent;}	
  
.listbox::-webkit-scrollbar {
    overflow:auto;  
}
  
 @media print
{
    div
    {
        background-color:White;        
    }
    .xGridView
    {
        border-color:black;
        }
    .xGridView td
    {
        border-color:black;
        }
    .xGridView th
    {
        border-color:black;
        background:none;
        background: -webkit-linear-gradient(top, white, white);
        -webkit-box-shadow:none;
    }
     .xGridView tr
    {
        border-color:black;
    }
    
     .xGridView caption
     {
         background-color:black;        
         border-right:1px solid black;
         border-left:1px solid black;
         border-bottom:1px solid black;
         border-color:Black;
         border-radius:0px;
         color:Black;
         margin:0px 0px 0px 0px;
     }
     .fieldset
     {
        border-color:black;
        background:none;
        background: -webkit-linear-gradient(top, white, white);
        -webkit-box-shadow:none;
        background-color:black;        
         border-right:1px solid black;
         border-left:1px solid black;
         border-bottom:1px solid black;
         border-color:Black;
         border-radius:0px;
         }

   
}
.ModalPopupBG
{
    background-color: Grey;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.HellowWorldPopup
{
    min-width:200px;
    min-height:150px;
    background:white;
}

.mylabelCustomField {
        color: #666666;
        text-align:left;
        font-size:11px;
        font-weight: bold;
}
		.f_error input,.f_error select,.f_error textarea{color:#b94a48;border-color:#b94a48}
		.f_error input:focus,.f_error select:focus,.f_error textarea:focus{-webkit-box-shadow:0 0 6px #d59392;-moz-box-shadow:0 0 6px #d59392;box-shadow:0 0 6px #d59392;border-color:#953b39}
		.f_error .input-prepend .add-on,.f_error .input-append .add-on{color:#b94a48;background-color:#f2dede;border-color:#b94a48}
		.f_error label.error {display:block;font-size:11px;font-weight:700;color:#C62626}
		input[type="text"] + label.error,input[type="password"] + label.error, select + label.error, textarea + label.error {margin-top:-6px}
		.f_error label.radio + label.error,.f_error label.checkbox + label.error {margin-top:5px}
		.input-prepend.f_error label.error,.input_append.f_error  label.error {margin-top:4px}
		.control-group.f_error label.error {margin-top:2px}
.shortcuts-new {
	position: fixed;
	display: block;
	z-index: 1;
	bottom: 0;
    top: -10px;
	left: 0;
	width: 88px;
	padding: 0;
	margin: 0;
	border: 0;
	color: white;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
	background-color: #ffffff !important;
	/*background: #3c4044 url(../img/textures/grid.png);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0))), #3c4044 url(../img/textures/grid.png);
	background: -webkit-linear-gradient( top, rgba(0,0,0,0.4), rgba(0,0,0,0)), #3c4044 url(../img/textures/grid.png);
	background: -moz-linear-gradient( top, rgba(0,0,0,0.4), rgba(0,0,0,0)), #3c4044 url(../img/textures/grid.png);*/
	/*background: -ms-linear-gradient( top, rgba(0,0,0,0.4), rgba(0,0,0,0)), #3c4044 url(../img/textures/grid.png);
	background: -o-linear-gradient( top, rgba(0,0,0,0.4), rgba(0,0,0,0)), #3c4044 url(../img/textures/grid.png);
	background: linear-gradient( top, rgba(0,0,0,0.4), rgba(0,0,0,0)), #3c4044 url(../img/textures/grid.png);*/
	-webkit-box-shadow: inset -1px 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset -1px 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	}

.xGridViewTS2{
    padding-left:6px;
    width: auto;
	position:relative;
    table-layout: fixed;
    overflow-x: scroll visible;
    border-collapse:initial;
}
.xGridViewTS2 th
{
	text-align:center;
	vertical-align:bottom;
    	color:#3C3B3B;
	background: #d6dadf url(../img/old-browsers/colors/bg_button.png) repeat-x;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#efeff4), to(#d6dadf));
	background: -webkit-linear-gradient(top, #efeff4, #d6dadf);
	background: -moz-linear-gradient(top, #efeff4, #d6dadf);
	background: -ms-linear-gradient(top, #efeff4, #d6dadf);
	background: -o-linear-gradient(top, #efeff4, #d6dadf);
	background: linear-gradient(top, #efeff4, #d6dadf);
	border-color: #cccccc;
		padding: 5px 0px 5px 0px;
		border: 1px solid #cccccc;
		-webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		-moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.85), inset 0 1px 0 rgba(255, 255, 255, 0.85);
		border-top: 0;
		font-size:11px;
        white-space:nowrap;
}
.xGridViewTS2 tr:hover{
    background-color:aliceblue !important;
    cursor:pointer;
}
.xGridViewTS2 th a{
	color:#3C3B3B;
	font-weight: bold;
	text-decoration: none;
	text-align:center;
    width:50px;
}
.xGridViewTS2 td 
{        
		padding: 3px 2px 3px 2px;
		color:#3C3B3B;
		/*padding: 9px 10px;*/
		vertical-align:middle;
		border-top: 1px solid #e6e6e6;
        border-collapse :collapse ;
        border-right: 1px dotted #cfcfcf;
        border-bottom: 1px solid #e6e6e6;
        -moz-column-width:1000px;
        white-space:nowrap;
        column-width:100px;
		}
td.MovingTds{
    column-width:1000px !important;
    width: 200px;
    column-rule-width:medium;
    border-left: 1px solid #cfcfcf;
    border-right: 1px dotted #cfcfcf;
}
.TableHeader{
    width:5px;
}
.xGridViewTS2 tbody{
    overflow:auto;
    display:block;
}

.highlight{
    background-color:aliceblue !important;
}
