<system.web>
	<siteMap enabled="true" defaultProvider="AspNetSqlSiteMapProvider">
		<providers>
			<add name="AspNetSqlSiteMapProvider" type="CustomProviders.LiveSiteMapProvider" securityTrimmingEnabled="true" connectionStringName="LiveConnectionString" sqlCacheDependency="CommandNotification"/>
		</providers>
	</siteMap>
</system.web>