<appSettings>
  <add key="SmtpServer" value="YourSMTPServer" />
  <add key="SmtpServerUserName" value="" />
  <add key="SmtpServerPassword" value="" />
  <add key="SmtpPortnumber" value="25" />
  <add key="InstalledCustomerId" value="" />
  <add key="ApplicationMode" value="Installed" />
  <add key="TemplateFolderPath" value="~/Templates/" />
  <add key="UploadFilesPath" value="~/Uploads/" />
  <add key="SitePrefix" value="" />
  <add key="CronSitePrefix" value="" />		
  <add key="BaseURL" value="http://www.url.com" />
  <add key="SmtpServerConnectionLimit" value="3" />
  <add key="WaitSecondsWhenConnectionLimitExceeds" value="15" />
  <add key="EmailEncoding" value="utf-8" />
  <add key="StorePreviewKey" value="OsqfhzJA" />
  <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
  <add key="aspnet:ChartImageHandler" value="storage=file;timeout=20;" />   
</appSettings>
