<connectionStrings>
  <add name="ADService" connectionString="LDAP://."/>
  <add name="LiveConnectionString" connectionString="Data Source=.\TimeLive;Initial Catalog=TimeLive;User ID=sa;Password=1!Timelive" providerName="System.Data.SqlClient"/>
  <add name="LivetecsConnectionString" connectionString="Data Source=.\TimeLive;Initial Catalog=TimeLive;User ID=sa;Password=1!Timelive" providerName="System.Data.SqlClient"/>
</connectionStrings>